body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(Hamburger.jpg) center/cover no-repeat fixed;
}

.banner {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#confirmation-container {
    background-color: #383c4a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-out;
    width: 300px;
    text-align: center;
    margin: auto; /* Zentrale Positionierung */
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#confirmation-container h2 {
    color: #00cc00; /* Grüne Farbe für den Erfolgstitel */
    margin-bottom: 15px;
}

#confirmation-container a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

#confirmation-container a:hover {
    text-decoration: underline;
}

#confirmation-container p {
    color: #fff; /* Weiße Farbe für den Text, der auf die E-Mail hinweist */
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}