body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Hamburger.jpg') center/cover no-repeat fixed; /* Hintergrundbild im Body */
}

.register-box {
    background-color: rgba(255, 255, 255, 0.8); /* Weiße Hintergrundbox mit Transparenz */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    padding: 20px;
    text-align: center;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeIn 0.5s ease-out 0.5s forwards; /* Coole Übergänge mit Animation */
    margin-left: 30px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.register-box h2 {
    color: #333; /* Dunkelgraue Schriftfarbe */
    margin-bottom: 20px;
    font-weight: bold; /* Fettdruck für Überschrift */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666; /* Graue Schriftfarbe */
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #6b6565; /* Schwarze Umrandung */
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #555; /* Grüner Hintergrund */
    color: #fff; /* Weiße Schriftfarbe */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #070707; /* Dunkleres Grün beim Hover */
}
